<template>
	<v-checkbox
	:hide-details="hideDetails"
	:readonly="isDisabled"
	:label="label"
	v-model="aValue"
	@change="onChange"
	:false-value="this.$consts.dbNo"
	:true-value="this.$consts.dbYes">
	</v-checkbox>	
</template>

<script>
export default {
  props: ["isDisabled", "value", "hideDetails", "label"],
  data() {
    return {
      aValue: this.value
    };
  },
  watch: {
	  value(val) {
		  return this.aValue = val;
	  }
  },
  methods: {
	  onChange() {
		  this.$emit('onChangeCallBack', this.aValue);
	  }
  },
};
</script>

<style>
</style>
