<template>
  <div>
    <el-date-picker
      v-model="aValue"
      :type="typeDT"
      placeholder="Tarih Seçiniz..."
      :format="this.$consts.el_dateTimeFormat"
      :value-format="this.$consts.el_json_format"
      @change="onChange">
    </el-date-picker>
  </div>	
</template>

<script>
export default {
  props: ["pickedDateTime", "typeDT", "pRequired"],
  data() {
    return {
      aValue: this.pickedDateTime,
      aRequired: this.pRequired,
    };
  },
  watch: {
    pickedDateTime(val) {
      return this.aValue = val;
    },  
    pRequired(val) {
      return this.aRequired = val;
    }
  }, 
  methods: {
	  onChange() {
      console.log(this.aValue);
		  this.$emit('onChangeCallBack', this.aValue);
	  }
  },  
};
</script>

<style>
.el-input__inner {
  background-color: #424242 !important;
  color: white !important;
}

.el-picker-panel {
  background-color: #424242 !important;
  color: white !important; 
  font-family: "Roboto" !important; 
}

.el-picker-panel__footer {
  background-color: #424242 !important;  
}

.el-date-picker__header-label {
  color: white !important;
}

.el-picker-panel__icon-btn {
  color: white !important;
}

.el-picker-panel__link-btn {
  background: #424242 !important;
  color: white !important;  
}

.el-time-panel {
  background-color: #424242 !important;
}

.el-time-panel__footer {
  background: white !important;
}

.el-time-spinner__item.active {
  color: white !important;
}

.el-month-table .cell{
  color: white !important;
}

.el-year-table .cell{
  color: white !important;
}

</style>
