<template>
      <v-toolbar 
        dark 
        :color="this.$settings.themeColor2"
        dense>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
		<v-spacer />
		<v-btn fab small color="error" v-if="EkleBtn" @click="EkleBtnClick">
			<v-icon>add</v-icon>
		</v-btn>
		<v-btn fab small color="orange" @click="YenileBtnClick">
			<v-icon>refresh</v-icon>
		</v-btn>		
      </v-toolbar>	
</template>

<script>
export default {
	props: ["title", "EkleBtn", "onEkleClick", "onYenileClick"],
	methods: {
		EkleBtnClick() { 
			this.onEkleClick();
		},
		YenileBtnClick() {
			this.onYenileClick();
		}
	},
}
</script>

<style>

</style>
