<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="this.messageState.showMessage"
      persistent 
      scrollable 
      width="500">
      <v-card>
        <v-card-title
          :class="this.messageState.messageType.color"
          primary-title
        >
          {{ this.messageState.messageHeader }}
        </v-card-title>

        <v-card-text>
          {{ this.messageState.message }}
          <br/>
          <br/>
          {{ this.messageState.messageDetail }}
          {{ this.messageState.messageDetail }}
          {{ this.messageState.messageDetail }}
          {{ this.messageState.messageDetail }}
          {{ this.messageState.messageDetail }}
          <br/>
          <br/>
          {{ this.messageState.vueInfo }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            @click="TamamBtnClick"
          >
            Tamam
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions }  from 'vuex';

export default {
  data() {
    return {
    };
  },
  computed: {
    ...mapState(['messageState']),
  }, 
  methods: {
    ...mapActions(['ResetMessage']),
    TamamBtnClick() {
      // this.$store.dispatch('ResetMessage');
      this.ResetMessage();
    },     
  },

};
</script>



