<template>
<v-snackbar
      :color="snackColorCalc"
      :vertical=true
      v-model="show"
      :timeout="timeout">
      {{ message }}
      <v-btn 
        dark 
        flat 
        @click.native="onClick">
        {{ buttonText }}
      </v-btn>
    </v-snackbar>    
</template>


<script>
export default {
  name: "Snack",
  props: {
    snackbar: {
      type: Boolean,
      default: false
    },
    buttonText: {
      type: String,
      required: false,
      default: "Ok"
    },
    snackColor: {
      type: String,
      required: false,
      default: "red"
    },
    message: {
      type: String,
      required: true,
      default: "<Message yok>"
    },
    timeout: {
      type: Number,
      default: 0,
    }
  },
  data() {
    return {
      show: this.snackbar,
      snackText: this.message
    };
  },
  computed: {
    snackColorCalc() {
      if (!this.snackColor) return this.snackColor.default;
      else return this.snackColor;
    },
    snackTextCalc() {
      if (!this.message) return this.snackText.default;
      else return this.message;
    }
  },
  watch: {
    snackbar(val) {
      return this.show = val;
    },
  },
  methods: {
      onClick() { // onclick olduğunda cagirilan yere cevap don.
          this.show = false;
          this.$emit('snackbarCallBack', this.show);
      }
  }
};
</script>


<style>

</style>
