<template>
<div>
   <v-navigation-drawer
	  app
      v-model="drawer"
      absolute
      temporary
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="https://pbs.twimg.com/profile_images/865113730320748544/i1EBAAeV_400x400.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>Sertan Soylu</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>

        <v-list-tile
          v-for="item in items"
          :key="item.title"
          router :to="item.link"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

   <v-toolbar 
   		app 
		dark color="indigo lighten-1 "
	>
    
	<v-toolbar-side-icon
		@click.stop="drawer = !drawer"
	>		
	</v-toolbar-side-icon>

    <v-toolbar-title class="white--text">SoylusofT</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn icon>
      <v-icon>search</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>apps</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>refresh</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>more_vert</v-icon>
    </v-btn>
  </v-toolbar>
</div>
</template>


<script>
export default {
  name: "Toolbar",
  data() {
    return {
      drawer: null,
      items: [
        { title: "Ana Sayfa", icon: "home", link: "/" },
        { title: "Ünvan", icon: "dashboard", link: "/unvan" },
        { title: "Branş", icon: "question_answer", link: "/brans" }
      ],
    };
  }
};
</script>

<style>

</style>
