<template>
<div>
  <v-alert outline color="success" icon="info" :value="true">{{ msg }}</v-alert>
  
  <Snack 
    :snackbar="snackbar" 
    :message="snackMessage" 
    @snackbarCallBack="snackbar=$event">
  </Snack>

  <v-layout xs6>
    <v-card>
      <DataTableHeader 
        :title="title" 
        :EkleBtn="useEkleBtn" 
        :onEkleClick="addItem"
        :onYenileClick="load">
      </DataTableHeader>

      <UnvanDialog 
        :openDialog="openDialog" 
        :dialogTitle="dialogTitle" 
        :ctrl="unvanCtrl"
        @openDialogCallBack="openDialogCallBack($event)">
      </UnvanDialog>
      
      <v-data-table
            :headers="unvanGridHeader"
            :items="unvan"
            :loading="loading"
            :item-key="itemKey">
          <template slot="items" slot-scope="props">
            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)"
                @openDialogCallBack="openDialogCallBack($event)"
              >
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteItem(props.item)"
              >
                delete
              </v-icon>
            </td>            
            <td>{{ props.item.unvan_id }}</td>
            <td>{{ props.item.unvan_adi }}</td>
            <td><AppCheckBox 
                  :isDisabled="true" 
                  :value="props.item.aktif" 
                  :hideDetails="true"
                  @onChangeCallBack="props.item.aktif=$event">
                </AppCheckBox>
            </td>
            <td><DataTableDate :value="props.item.tarih"></DataTableDate></td>

          </template>
          <template slot="no-data">
            <v-alert :value="true" color="blue-grey" icon="warning">{{ this.$consts.msgNoRecord }} </v-alert>
          </template> 
      </v-data-table>
      
    </v-card>
  </v-layout>
</div>              
</template>


<script>
import uc from "@/controller/UnvanController";

import AppMixin from "@/components/mixins/AppMixin";
import DataTableHeader from "@/components/DataTableHeader";
import AppCheckBox from "@/components/AppCheckBox";
import DataTableDate from "@/components/DataTableDate";
import UnvanDialog from "@/components/UnvanDialog";

import Snack from "@/components/Snack";

export default {
  name: "Unvan",
  data() {
    return {
      name: "Unvan",
      msg: "Merhaba, Ünvanları görüntülüyorsunuz...",
      title: "Ünvanlar",
      loading: false,
      openDialog: false,
      dialogTitle: "",
      useEkleBtn: true,
      unvanCtrl: uc,
      unvan: [],
      itemKey: uc.pkFieldName,
      unvanGridHeader: [
        { 
          text: 'Actions', 
          value: uc.pkFieldName, 
          sortable: false 
        },
        {
          text: uc.class.unvan_id.caption,
          value: uc.class.unvan_id.field
        },
        {
          text: uc.class.unvan_adi.caption,
          value: uc.class.unvan_adi.field
        },
        {
          text: uc.class.aktif.caption,
          value: uc.class.aktif.field
        },
        {
          text: uc.class.tarih.caption,
          value: uc.class.tarih.field
        }
      ]
    };
  },
  components: {
    DataTableHeader,
    AppCheckBox,
    DataTableDate,
    UnvanDialog,
    Snack
  },
  mixins: [
    AppMixin
  ],
  mounted: function() {
    this.load();
    uc.getItemObject();
  },
  methods: {
    load() {
      this.loading = true;
      uc.getItems().then(res => {
        this.unvan = res.data;
      });

      this.loading = false;
    },
    addItem() {
      this.dialogTitle = this.$consts.capYeniKayit;
      uc.dsState= this.$consts.DS_INSERT;
      uc.item = uc.getItemObject();
      uc.item.tarih = this.$funcs.GetServerTarihiStr();

      this.openDialog = true;
    },
    editItem(item) {
      this.dialogTitle = this.$consts.capGuncelle;
      uc.dsState = this.$consts.DS_UPDATE;
      uc.item = Object.assign({}, item);
      this.openDialog = true;
    },
    deleteItem(item) {
      var res = confirm('Kaydı Silmek İsteğinizden Emin misiniz?');
      if (res) {
        uc.deleteItem(item).then(res => {
          this.snackMessage = "Kayıt Silindi";
          this.snackbar = true;
          this.load();
        });        
      }
    },
    openDialogCallBack(event) {
      console.log(event);
      this.openDialog = false;
      if (event.modalResult == this.$consts.MR_YES) {
        if (uc.dsState == this.$consts.DS_INSERT) {
          uc.postItem(event.editedItem).then(res => {
            this.load();
          });
        }
        else if (uc.dsState == this.$consts.DS_UPDATE) {
          uc.putItem(event.editedItem).then(res => {
            this.load();
          });
        }
      } 
      else 
      {
        this.snackMessage = "Kayıt İptal Edildi";
        this.snackbar = true;
      }
    },
  }
};
</script>

