<template>
	<v-dialog 
    v-model="openDialog" 
    persistent
    max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ dialogTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-xs>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field 
                    disabled 
                    v-model="editedItem.unvan_id" 
                    :label="ctrl.class.unvan_id.caption">
                  </v-text-field>
                </v-flex>
                <v-flex xs12>
                  <!-- <div class="error" v-if="!$v.editedItem.unvan_adi">saddsadassdaads</div>                   -->
                  <v-text-field 
                    required
                    v-model="editedItem.unvan_adi" 
                    :label="ctrl.class.unvan_adi.caption">
                  </v-text-field>
                </v-flex>
                <v-flex xs12>
                  <AppCheckBox 
                    :isDisabled="false" 
                    :value="editedItem.aktif" 
                    :hideDetails="false" 
                    :label="ctrl.class.aktif.caption"
                    @onChangeCallBack="editedItem.aktif=$event">
                  </AppCheckBox>                  
                </v-flex>
                <v-flex xs12>
                  <AppDateTime
                    :pickedDateTime="editedItem.tarih" 
                    typeDT="datetime"
                    pRequired="true"
                    @onChangeCallBack="editedItem.tarih=$event">
                  </AppDateTime>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="onClose">Cancel</v-btn>
            <v-btn color="blue darken-1"  @click.native="onSave">Save</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>	
</template>

<script>
import AppCheckBox from "@/components/AppCheckBox";
import AppDateTime from "@/components/AppDateTime";


export default {
  props: ["openDialog", "dialogTitle", "ctrl"],
  data() {
    return {
      editedItem: {}
    };
  },
  components: {
    AppCheckBox,
    AppDateTime
  },
  watch: {
    openDialog: function(value) {
      if (value) 
        this.editedItem = this.ctrl.item;
    }
  },
  methods: {
    onSave(event) {
      this.$emit("openDialogCallBack", {
        modalResult: this.$consts.MR_YES,
        editedItem: this.editedItem
      });
    },
    onClose(event) {
      this.editedItem = {};
      this.$emit("openDialogCallBack", {
        modalResult: this.$consts.MR_NO,
        editedItem: this.editedItem
      });
    }
  }
};
</script>

<style>
</style>
