<template>
<v-app dark>

  <MessageDlg />

  <Toolbar />

  <v-content>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-content>
  
  <Footer />
  
</v-app>
</template>

<script>
import Toolbar from './components/Toolbar'
import Home from './components/Home'
import Footer from './components/Footer'
import MessageDlg from '@/components/MessageDlg'

import { mapState, mapActions }  from 'vuex';

export default {
  name: 'App',
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState(['messageState']),
  },  
  components: {
    MessageDlg,
    Toolbar,
    Home,
    Footer,
  },
}
</script>
